<%- include ("./partials/navbar") %>
<div class="container">
  <h1 class="mt-4">Dashboard</h1>
  <p class="lead mb-3">
    Welcome <code><%= user.name %></code> to IT Logger, your IT service portifolio controller.<br />
    Use the Log(s) Dashboard and start to register your accomplishments.
  </p>
</div>
